/* 前置设置或者公用样式 */
.outDiv {
  background: #000;
  width: 100px;
  height: 50px;
}
.inDiv {
  background: #ff0000;
}

/* 1.text-align + inline-block */
.outterBox1 {
  text-align: center;
}
.innerBox1 {
  display: inline-block;
}

/* 2.table + margin */
.outterBox2 {
}
.innerBox2 {
  display: table;
  margin: 0 auto;
}

/* 3.absolute + transform */
.outterBox3 {
  position: relative;
}
.innerBox3 {
  position: absolute;
  left: 50%;
  /* 相对于自身 */
  transform: translateX(-50%);
}

/* 4.flex + justify-content */
.outterBox4 {
  display: flex;
  justify-content: center;
  /* 这一句是因为flex默认垂直方向拉伸布局(align-items: stretch) */
  align-items: flex-start;
}
.innerBox4 {
}
