/* 前置设置或者公用样式 */
.outDiv {
  background: #000;
  width: 50px;
  height: 100px;
}
.inDiv {
  background: #ff0000;
}

/* 1.table-cell + vertical-align */
.outterBox1 {
  display: table-cell;
  vertical-align: middle;
}
.innerBox1 {
}

/* 2.absolute + transform */
.outterBox2 {
  position: relative;
}
.innerBox2 {
  position: absolute;
  top: 50%;
  /* 相对于自身 */
  transform: translateY(-50%);
}

/* 3.flex + align-items */
.outterBox3 {
  display: flex;
  /* 这一句是因为flex默认垂直方向拉伸布局(align-items: stretch) */
  align-items: center;
}
.innerBox3 {
}
